@font-face {
  font-family: 'GothamLight';
  src: url('fonts/GothamLight.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GothamLight', sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #ffffff;
}

.spacing {
  letter-spacing: 0.15rem;
}

.nav-item {
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #333333;
  font-weight: 700;
}

.top-buffer {
  margin-top: 80px;
  height: 75vh;
}

.hero-bg {
  background-color: #8ecee8;
  background-image: linear-gradient(to right, #8ecee7, #dbeaef);
}

.hero {
  font-size: 48px;
}

.btn {
  border-radius: 0px;
}

.btn-outline-primary {
  color: #333333;
  border: 1px solid #333333;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #333333;
  border: 1px solid #333333;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0.25rem rgba(55, 55, 55, 0.5);
}

.hero-btn {
  font-size: 20px;
  padding: 10px 25px;
}

.hero-img {
  max-width: 560px;
}

.info-image {
  object-fit: cover;
  width: 100%;
}

.info-section {
  padding: 80px 20px;
}

.bg-light {
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .hero-info {
    width: 50%;
  }

  .info-section {
    padding: 100px 65px;
  }
}

@media screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1rem;
  }

  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: solid 1px #333333;
  }

  .hero {
    font-size: 72px;
  }

  .hero-btn {
    font-size: 24px;
    padding: 10px 40px;
  }

  .info-image {
    width: 50%;
  }

  .info-section {
    padding: 80px 75px;
    width: 50%;
  }

  .info-width {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .info-section {
    padding: 165px 75px;
  }
}
